Package: pidgin-juick-plugin
Version: 0.3.0-1
Architecture: i386
Maintainer: pkftag <pkftag@gmail.com>, Nikita A Menkovich <menkovich@gmail.com>
Installed-Size: 104
Depends: libatk1.0-0 (>= 1.29.3), libc6 (>= 2.3.6-6~), libcairo2 (>= 1.2.4), libfontconfig1 (>= 2.8.0), libfreetype6 (>= 2.2.1), libglib2.0-0 (>= 2.18.0), libgtk2.0-0 (>= 2.8.0), libpango1.0-0 (>= 1.14.0), libpurple0 (>= 2.6.0)
Section: net
Priority: optional
Homepage: http://github.com/mad/pidgin-juick-plugin/
Description: Adds some color and button for juick bot.
 Adds some color and button for juick bot.
